node_modules
chess-frontend/node_modules
chess-backend/dist
chess-backend/kilobytegambit.ts
chess-backend/dist/chess.js
chess-backend/dist/Pieces.js
chess-backend/dist/types.js
.fleet
chess-frontend/pb_data